<div id="page">

    <div class="navbar sticky-top navbar-expand-sm navbar-light bg-light mb-4 nav-justified">
        <div class="navbar-text"><span class="navbar-toggler-icon"></span>NgII</div>

        <a class="nav-link" routerLink="/seller" routerLinkActive="active">Sellers</a>
        <a class="nav-link" routerLink="/lorem" routerLinkActive="active">Lorem</a>

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </li>
        </ul>




    </div>


    <div id="rooter-outlet">
        <router-outlet></router-outlet>
    </div>

</div>
