<h4>{{ header }}</h4>

{{ message }}

<table>
    <thead>
        <tr>
            <th>#</th>
            <th>имя</th>
            <th>рейтинг</th>
            <th>состояние</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of dataRecords; let i = index" >
            <td>{{ i + 1 }}</td>
            <td [ngStyle]="setStyle(i)" >{{ item.name  }}</td>
            <td>{{ item.rate / 2}}</td>
            <td>
                <button (click)="upRate(item)" [ngClass]="setButton(item)">{{ item.state }}</button>
            </td>
        </tr>
    </tbody>
</table>