<div id="page" class="margin-left-2 margin-right-2">
    <div class="top-bar-container" data-sticky-container>
        <div class="sticky sticky-topbar" data-sticky data-options="anchor: page; marginTop: 0; stickyOn: small;">

            <div class="top-bar">
                <div class="top-bar-left">
                    <ul class="menu">
                        <li class="menu-text">NgII</li>
                        <li>
                            <a routerLink="/seller" routerLinkActive="active">Seller</a>
                        </li>
                        <li>
                            <a routerLink="/lorem" routerLinkActive="active">Lorem</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

    <router-outlet></router-outlet>

    <div class="grid-container">
        <div class="grid-x grid-margin-x align-center">
            <div class="cell medium-10">
                <hr />
                <p class="text-center">
                    <small>Made by <a href="http://wiki.unix7.org">Borodin Oleg</a></small>
                </p>
            </div>
        </div>
    </div>
</div>