$topbar-background: $white;

.top-bar {
    background-color: $white !important;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 1.3em;
    padding-left: 1em;
    padding-right: 1em;
}

html {
    font-size: 85% !important;
}