html {
    font-size: 90% !important;
}

.bg-light {
    background-color: #efefff !important;
}

.navbar {
    border-bottom: 1px solid #a0a0a0;
    padding-left: 1em !important;
    padding-right: 1em !important;
}

